doctype html
html(lang="en")
    head
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no, maximum-scale=1, user-scalable=no')
        meta(name='description' content='')
        meta(name='author' content='')
        title Hop Circles
        //- Bootstrap core CSS
        link(href='../assets/vendor/bootstrap/css/bootstrap.min.css' rel='stylesheet')
        link(rel="stylesheet" href="../assets/MDB/css/mdb.min.css")
        link(rel='shortcut icon' href='../assets/img/favicon.ico')
        //- Custom fonts for this template
        link(href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i' rel='stylesheet')
        link(href='https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700,700i,900,900i' rel='stylesheet')
        link(href='../assets/vendor/font-awesome/css/font-awesome.min.css' rel='stylesheet')
        //- Custom styles for this template
        link(href='../assets/css/coming-soon.min.css' rel='stylesheet')
        style.
            body {
                background: url('../assets/img/bg3.jpg');
                background-repeat: no-repeat;
                background-position: center center;
                background-attachment: fixed;
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover;
            }
            .fonth {
                font-family: Helvetica Neue, Helvetica, Arial, sans-serif; font-style: normal; font-variant: normal;
            }
            @media (max-width:1180px) {
                .odesk{display:none;}
            }
            /* div {
            text-align: justify;
            text-justify: inter-word;
            } */
    //- <div class="overlay bg-dark text-white"></div>
    //- <img playsinline="playsinline" src="img/bg.gif" alt="background">
    //-
    //- <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
    //- <source src="mp4/bg.mp4" type="video/mp4">
    //- </video>
    body
        .masthead
            .masthead-bg(style='background-color: #FEC946')
            .container.h-100
                .row.h-100
                    .col-12.my-auto(style='height: 100%;')
                        .masthead-content.fonth
                            //- <img src="img/hci_logo.png" class="img-fluid" alt="Responsive image">
                            .container-fluid(style='padding-top: 80px; padding-bottom: 50px;')
                                img.img-fluid(src='../assets/img/hci_logo.png' alt='Hop Circles' style='min-width: 250px;')
                                //- <h1 class="mb-3"style="color: #6D6E71">Hop Circles</h1>
                            .container-fluid(style='padding-bottom:150%;')
                                h5.mb-4(style='color: #6D6E71') Asia's largest incubator of ideas, bringing together industry and students from institutes of higher learning through projects powered by curious minds
                                h5.mb-4(style='color: #6D6E71') Because passion cannot be found. It can only be cultivated.
                                h5.mb-5(style='color: white') Launching Soon!
        .container.card.p-3.odesk(style='width: 350px;height:500px;top:17%; left: 60%;position:fixed;z-index:2')
            nav
                #nav-tab.nav.nav-tabs(role='tablist')
                    a#nav-login-tab.nav-item.nav-link.active(data-toggle='tab' href='#nav-login' role='tab' aria-controls='nav-login' aria-selected='true') Login
                    a#nav-register-tab.nav-item.nav-link(data-toggle='tab' href='#nav-register' role='tab' aria-controls='nav-register' aria-selected='false') Register
            #nav-tabContent.tab-content.card-body.px-lg-2.pt-0(style='overflow-y: scroll')
                #nav-login.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='nav-login-tab')
                    //- .text-center.mt-5(style='height:120px')
                    //-     img(src="../assets/img/logo.jpeg" alt="Hop Circles" width="250" height="120")
                    nav.pl-5.mt-3
                        ul#pills-tab.nav.nav-pills.mb-3(role='tablist')
                            li.nav-item
                                a#pills-stud-login-tab.nav-link.active(data-toggle='pill' href='#pills-stud-login' role='tab' aria-controls='pills-stud-login-tap' aria-selected='true') Students
                            li.nav-item
                                a#pills-comp-login-tab.nav-link(data-toggle='pill' href='#pills-comp-login' role='tab' aria-controls='pills-comp-login-tap' aria-selected='false') Companies
                    #pills-tabContent.tab-content
                        #pills-stud-login.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='pills-stud-login-tap')
                              form.pt-3(style='max-height: 600px;' method='POST' action='/login')
                                .form-group
                                    label(for='valid_username') Username
                                    input#valid_username.form-control(placeholder='Username', required='', type='text', name='username')
                                .form-group
                                    label(for='valid_password') Password
                                    input#valid_password.form-control(placeholder='Password', required='', type='password', name='password')
                                //- .form-group
                                //-     .form-check
                                //-         input.form-check-input(value='', type='checkbox')
                                //-         label Remember me
                                .text-center
                                    button.btn(type='submit' style='background-color: #FFC946;color: white;font-size: 17px;') Hop on!
                                p.mt-2.text-muted.text-center
                                        i  All rights reserved
                        #pills-comp-login.tab-pane.fade(role='tabpanel' aria-labelledby='pills-comp-login-tap')
                            p Coming soon!
                #nav-register.tab-pane.fade(role='tabpanel' aria-labelledby='nav-register-tab')
                    //- .text-center.mt-5(style='height:120px')
                    //-     img(src="../assets/img/logo.jpeg" alt="Hop Circles" width="250" height="120")
                    nav.pl-5.mt-3
                        ul#pills-tab.nav.nav-pills.mb-3(role='tablist')
                            li.nav-item
                                a#pills-stud-register-tab.nav-link.active(data-toggle='pill' href='#pills-stud-register' role='tab' aria-controls='pills-stud-register-tap' aria-selected='true') Students
                            li.nav-item
                                a#pills-comp-register-tab.nav-link(data-toggle='pill' href='#pills-comp-register' role='tab' aria-controls='pills-comp-register-tap' aria-selected='false') Companies
                    #pills-tabContent.tab-content
                        #pills-stud-register.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='pills-stud-register-tap')
                               form#regisform.pt-3(style='max-height: 600px;' method='POST' action='/register')
                                    .form-group
                                        label(for='valid_email') Email
                                        input#regis_email.form-control(placeholder='Email', required='', type='Email', name='remail')
                                        #email_feed.invalid-feedback(style="max-width: 250px")
                                    .form-group
                                        label(for='valid_username') Username
                                        input#regis_user.form-control(placeholder='Username', required='', type='text', name='ruser')
                                        #user_feed.invalid-feedback(style="max-width: 250px")
                                    .form-group
                                        label(for='valid_password') Password
                                        input#valid_password.form-control(placeholder='Password', required='', type='password', name='rpass')
                                        #pass_feed.invalid-feedback(style="max-width: 250px")
                                    .form-group
                                        label(for='valid_password') Confirm Password
                                        input#valid_password.form-control(placeholder='Password', required='', type='password', name='re_pass')
                                        #repass_feed.invalid-feedback(style="max-width: 250px")
                                    .form-group.mt-1
                                        .form-check
                                            input#terms_check.form-check-input(value='', required='', type='checkbox')
                                            label.form-check-label(for='terms_check') Agree to 
                                                a(target="_blank" rel="noopener noreferrer" href='/termsofuse') terms and conditions
                                            .invalid-feedback You must agree before submitting.
                                    //- .form-group
                                    //-     .form-check
                                    //-         input.form-check-input(value='', type='checkbox')
                                    //-         label Remember me
                                    .text-center
                                        button#register.btn(type='submit' style='background-color: #FFC946;color: white;font-size: 17px;') Hop on!
                                    p.mt-2.text-muted.text-center
                                            i  All rights reserved
                        #pills-comp-register.tab-pane.fade(role='tabpanel' aria-labelledby='pills-stud-comp-tap')
                            p Coming soon!
        .social-icons
            ul.list-unstyled.text-center.mb-0
                li.list-unstyled-item
                    a(href='https://www.linkedin.com/company/hop-circles-inc/' style='background-color: #FEC946')
                        i.fa.fa-linkedin
                li.list-unstyled-item
                    a(href='https://www.facebook.com/hopcirclesinc/' style='background-color: #FEC946')
                        i.fa.fa-facebook
                li.list-unstyled-item
                    a(href='https://www.instagram.com/hopcircles/' style='background-color: #FEC946')
                        i.fa.fa-instagram
        //- Bootstrap core JavaScript
        script(src="../assets/js/jquery.js")
        script(src="../assets/MDB/js/mdb.min.js")
        script(src="../assets/js/popper.min.js")
        script(src="../assets/js/bootstrap.min.js")
        //- Custom scripts for this template
        script.
            !function(t){"use strict"}(jQuery);
        script.
            var errors = "#{JSON.stringify(errors)}";
            errors = JSON.parse(errors.replace(/&quot;/g,'"'));
            if (errors != ""){
                $("#nav-login").removeClass("show");
                $("#nav-login").removeClass("active");
                $("#nav-register").addClass("show");
                $("#nav-register").addClass("active");
            }
        script.
            $(document).ready(function(){	
                var errors = "#{JSON.stringify(errors)}";
                errors = JSON.parse(errors.replace(/&quot;/g,'"'));
                var errlist = [];
                //- console.log(errors);
                if (errors != ""){
                    errors.forEach((result)=>{
                        console.log(result.msg);
                        if (result.msg == 'Email address must be between 4-100 characters long.'){
                            errlist[0] = result.msg;
                        }
                        if (result.msg == 'Username must be between 8-15 characters long.'){
                            errlist[1] = result.msg;
                        }
                        if (result.msg == 'Password must be between 8-100 characters long.'){
                            errlist[2] = result.msg;
                        }
                        if (result.msg == 'Password must include one lowercase character, one uppercase character, a number, and must not contain any special character.'){
                            errlist[3] = result.msg;
                        }
                        if (result.msg == 'Passwords do not match, please try again.'){
                            errlist[4] = result.msg;
                        }
                    });
                    //- for (var i = 0; i < errlist.length; i++){
                    //-     console.log(errlist[i]);
                    //- }
                    var email_feed = $("#regis_email");
                    email_feed.html = "";
                    var user_feed = $("#regis_user");
                    user_feed.html = "";
                    var pass_feed = $("#pass_feed");
                    pass_feed.html = "";
                    var repass_feed = $("#repass_feed");
                    repass_feed.html = "";

                    var details = "#{JSON.stringify(details)}";
                    details = JSON.parse(details.replace(/&quot;/g,'"'));
                    //- console.log(details.email);
                    //- console.log(details.user);
                    
                    if (errlist[0]){
                        //- console.log(errlist[0]);
                        email_feed.append("<p>" +errlist[0] + "</p>");
                    }
                    else{
                        document.getElementById("regis_email").value = details.email;
                    }
                    if (errlist[1]){
                        //- console.log(errlist[1]);
                        user_feed.append("<p>" +errlist[1] + "</p>");
                    }
                    else{
                        document.getElementById("regis_user").value = details.user;
                    }
                    if (errlist[2]) {
                        //- console.log(errlist[2]);
                        pass_feed.append("<p>" +errlist[2] + "</p>");
                    }
                    if (errlist[3]){
                        //- console.log(errlist[3]);
                        pass_feed.append("<p>" + errlist[3] + "</p>");
                    }
                    if (errlist[4]){
                        //- console.log(errlist[4]);
                        repass_feed.append("<p>" +errlist[4] + "</p>");
                    }
                    //- var element = document.getElementById("#nav-login");
                    //- element.classList.remove("show");
                    //- element.classList.remove("active");
                    //- $("#nav-register").addClass("show");
                    //- $("#nav-register").addClass("active");
                    $("#regisform").addClass( "was-validated" );	
                }	
            });




